*
{
	font-family: "Poppins",sans-serif;
	text-decoration: none;
	padding: 0%;
	margin: 0%;
}
::-webkit-scrollbar {
    display: none;
}
body
{
	display: flex;
	flex-direction: column;
}

/* -------Navigation Bar------- */
.container
{
	display: flex;
	width: 100%;
}
/* SIDEBAR */
.sidebar-container
{
	width: 350px;
	height: 100%;
	left: -350px;
	transition: .25s ease-in-out;
	display: flex;
	position: fixed;
	z-index: 10;
	flex-direction: column;
	background-color: #292929;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.navigation-container
{
	width: 100%;
	position: fixed;
	z-index: 990;
	background-color: #fd7094;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.navbar-margin
{
	width: 90%;
	margin: auto;
}
.navbar-margin .navbar-container>*
{
	width: 35%;
}
.navbar-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* MENU */
.menu
{
	cursor: pointer;
}
.line1
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line2
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line3
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.menu:hover .line1
{
	width: 25px;
	border-radius: 69px;
}
.menu:hover .line2
{
	width: 35px;
	border-radius: 69px;
}
.menu:hover .line3
{
	width: 15px;
	border-radius: 69px;
}
/* LINKS */
.links
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.links-button
{
	color: white;
	display: inline-block;
	position: relative;
	font-weight: lighter;
}

.links-button::after
{
	content: "";
    position: absolute;
	left: 0;
	bottom: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
	border-radius: 420px;
    transition: width .25s ease-out;
}
.links-button:hover::after
{
	width: 100%;
}
/* CART */
.cart
{
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}
.cart-icon
{
	width: 2rem;
	height: 2rem;
}
.cart-icon:hover
{
	filter: drop-shadow(0 0 10px white);
}

/* Website Title */
.main-website-title
{
	color: rgb(255, 255, 255);
	font-size: 2rem;
	font-style: oblique;
	text-shadow: 2px 1px #000000;
}
/* -------Left Sidebar------- */
.left-sidebar-wrapper
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
}
.sidebar-wrapper
{
	display: flex;
	flex-direction: column;
	margin-top: 110px;
}
.sidebar-content-wrapper
{
	display: flex;
	align-items: center;
}
.sidebar-icon
{
	width: 2rem;
	height: 2rem;
	filter: invert();
	margin-left: 2rem;
}
.sidebar-button
{
	color: white;
	padding: 1.5rem;
	margin-left: .5rem
}

/* -------Header------- */

.header-container
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.darken
{
	height: 1080px;
	width: 1920px;
	position: absolute;
	background-color: rgba(17, 17, 17, 0.308);
}
.video
{
	width: 1920px;
}
.website-title
{
	position: absolute;
	margin-bottom: 35rem;
	animation: 1s ease-in-out 0s 1 slide;
}
@keyframes slide{
	0%
	{
		opacity: 0%;
		margin-bottom: 25rem;
	}
	100%
	{
		opacity: 100%;
		margin-bottom: 35rem;
	}
}
.title
{
	color: white;
	font-size: 3rem;
	font-weight: 900;
	font-style: oblique;
	font-stretch: ultra-condensed;
	text-shadow: 4px 2px #000000;
	text-justify: auto;
	padding-left: 5rem;
	padding-right: 5rem;
}
/* -------Main------- */
.main-content-wrapper
{
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
}
/* About */
.about-margin
{
	margin-right: 25rem;
	margin-left: 25rem;
}
.about-wrapper
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}
.about-title
{
	margin: 0%;
	color: black;
	margin-bottom: 2rem;
	margin-top: 2rem;
	font-weight: 900;
	font-size: 5rem;
}
.about-paragraph
{
	margin: 0%;
	font-size: larger;
	color: black;
	line-height: 1.8rem;
	margin-bottom: 2rem;
}
/* Carousel */
.carousel-wrapper
{
	display: flex;
	justify-content: center;
}
.carousel-container
{
	position: relative;
	max-width: 120rem;
	width: 100%;
	overflow: hidden;
	margin-bottom: 2rem;
}
.carousel 
{
	display: flex;
}
img
{
	width: 100%;
	transition: 1s ease-out;
}
.navigation 
{
width: 100%;
position: absolute;
bottom: 35rem;
display: flex;
justify-content: space-between;
}
.button1
{
	max-width: 3rem;
	position: relative;
	padding-left: 2rem;
	padding-right: 2rem;
	transition: 1s;
	filter: drop-shadow(1px 1px 2px #222);
}
.button2
{
	max-width: 3rem;
	position: relative;
	padding-left: 2rem;
	padding-right: 2rem;
	transition: 1s;
	filter: drop-shadow(-1px 1px 2px #222);
}
.button1:hover
{
	cursor: pointer;
	max-width: 2rem;
}
.button2:hover
{
	cursor: pointer;
	max-width: 2rem;
}
/* Services */
.services-margin
{
	margin-right: 25rem;
	margin-left: 25rem;
}
.services-wrapper
{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.services-title
{
	margin: 0%;
	color: black;
	margin-bottom: 2rem;
	font-weight: 900;
	font-size: 5rem;
}
.services-paragraph
{
	margin: 0%;
	font-size: larger;
	color: black;
	line-height: 1.8rem;
	margin-bottom: 2rem;
}

/* -------Footer------- */
.footer-wrapper
{
	height: 100%;
	width: 100%;
	background-color:#d84066;
}

.contacts-wrapper
{
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 8rem;
	color: rgb(255, 255, 255);
}