*
{
	font-family: "Poppins",sans-serif;
	text-decoration: none;
	padding: 0%;
	margin: 0%;
}
html {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
body
{
	display: flex;
	flex-direction: column;
}
.main-wrapper
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
/* Website Title */
.main-website-title
{
	color: rgb(255, 255, 255);
	font-size: 2rem;
	font-style: italic;
	text-shadow: 2px 1px #000000;
}
/* -------Navigation Bar------- */
.container
{
	display: flex;
	justify-content: center;
	width: 100%;
}
.navigation-container
{
	width: 100%;
	position: fixed;
	z-index: 990;
	background-color: #ff3c6d;
}

.navbar-margin
{
	width: 90%;
	margin: auto;
}
.navbar-margin .navbar-container>*
{
	width: 35%;
}
.navbar-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* MENU */
.menu
{
	cursor: pointer;
}
.line1
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line2
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line3
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.menu:hover .line1
{
	width: 25px;
	border-radius: 69px;
}
.menu:hover .line2
{
	width: 35px;
	border-radius: 69px;
}
.menu:hover .line3
{
	width: 15px;
	border-radius: 69px;
}
.menu:hover .sidebar-container
{
	left: 0;
}
/* SIDEBAR */
.sidebar-container
{
	width: 350px;
	height: 100%;
	left: -350px;
	top: 0px;
	transition: .45s ease-in-out;
	display: flex;
	position: fixed;
	z-index: -1;
	flex-direction: column;
	background-color: #292929;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.left-sidebar-wrapper
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
}
.sidebar-wrapper
{
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
}
.sidebar-content
{
	display: flex;
	align-items: center;
	transition: .25s ease-in-out;
}
.sidebar-content:hover
{
	background-color: #f5abbeb2;
}
.sidebar-content:hover .sidebar-button
{
	color: #000000;
	font-weight: 900;
	
}
.sidebar-content:hover .sidebar-icon
{
	filter: none;
}
.sidebar-icon
{
	width: 2rem;
	height: 2rem;
	filter: invert();
	margin-left: 2rem;
	transition: 1ms ease-in-out;
}
.sidebar-button
{
	color: white;
	padding: 1.5rem;
	margin-left: .8rem
}
/* LINKS */
.links
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.links-button
{
	color: white;
	display: inline-block;
	position: relative;
}
.links-button::after
{
	content: "";
    position: absolute;
	left: 0;
	bottom: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
	border-radius: 420px;
    transition: width .25s ease-out;
}
.links-button:hover::after
{
	width: 100%;
}
/* CART */
.register
{
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}
.register-button
{
	color: white;
	display: inline-block;
	position: relative;
	font-weight: normal;
	padding-top: .4rem;
	padding-bottom: .4rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	transition: .25s ease-in-out;
}
.register-button:hover
{
	background-color: #d61c4b;
}
/* -------Breadcrumb------- */
.breadcrumb-container
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	margin-top: 5rem;
	padding: 10px;
	z-index: 40;
	background-color: #292929;
	box-shadow: 0px 0px 12px rgb(0, 0, 0);
}
.breadcrumb-list
{
	padding: 0;
}
.breadcrumb
{
	display: inline-block;
}
.breadcrumb:not(:last-of-type)::after
{
	content: '\203a';
	margin: 0 5px;
	color: #ffffff;
}
.breadcrumb-link
{
	text-decoration: none;
	color: #ffffff;
}
.breadcrumb-link:hover
{
	text-decoration: underline;
}
.breadcrumb-link--active
{
	color: #ff3c6d;
}
/* -------Footer------- */
.footer-wrapper
{
	height: 100%;
	width: 100%;
	background-color:#000000;
	position: relative;
	top: 67rem;
}
.contacts-wrapper
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 6rem;
	color: rgb(255, 255, 255);
}
.footer-content
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title-footer
{
	color: rgb(255, 255, 255);
	font-size: 2rem;
	font-style: oblique;
	font-weight: 900;
	text-shadow: 2px 1px #ff0080;
	padding: 2rem;
}
.gmail
{
	text-decoration: underline;
	font-style: oblique;
	cursor: pointer;
}
.copyright
{
	padding: 2rem;
}
.social-media-link
{
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	top: 2rem;
	right: 3.7rem;
}

.social-media1
{
	width: 3rem;
	height: 3rem;
	filter: invert();
	padding: 2rem;
	cursor: pointer;
	transition: all 0.45s cubic-bezier(0.02, 1, 0.22, 1.38) 0s;
	position: absolute;
	right: 3rem;
}
.social-media2
{
	width: 3rem;
	height: 3rem;
	filter: invert();
	padding: 2rem;
	cursor: pointer;
	transition: all 0.45s cubic-bezier(0.02, 1, 0.22, 1.38) 0s;
	position: absolute;
}
.social-media3
{
	width: 3rem;
	height: 3rem;
	filter: invert();
	padding: 2rem;
	cursor: pointer;
	transition: all 0.45s cubic-bezier(0.02, 1, 0.22, 1.38) 0s;
	position: absolute;
	left: 10rem;
}
.social-media1:hover
{
	transform: scale(1.3);
}
.social-media2:hover
{
	transform: scale(1.3);
}
.social-media3:hover
{
	transform: scale(1.3);
}
.background
{
	height: 1080px;
	width: 1920px;
	position: absolute;
	background-color: rgba(17, 17, 17, 0.308);
}
.bg-image
{
	width: 1920px;
	position: absolute;
	z-index: -1;
}
/* -------Header------- */
.header-content-wrapper
{
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	bottom: 13rem;
}
.header-container
{
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}
/* Carousel */
.carousel-wrapper
{
	display: flex;
	justify-content: center;
	background-color: #000000;
	border-radius: 1rem;
	box-shadow: 0px 0px 0.5rem black;
	margin-left: 2rem;
}
.carousel-container
{
	border-radius: 0.5rem;
	max-width: 40rem;
	width: 100%;
	overflow: hidden;
}
.carousel-title
{
	display: flex;
	justify-content: center;
}
.featured-title
{
	color: #ffffff;
	font-size: 2rem;
	font-weight: 400;
	padding: 2rem;
	transition: 1s;
}
.featured-product
{
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 0.3rem;
	color: #ffffff;
	font-weight: 400;
	background-color: #000000;
	padding: 0.5rem;
	margin: 1rem;
	position: relative;
	bottom: 1rem;
	transition: .25s ease-in-out;
}
.featured-product:hover .featured-text
{
	color: rgb(0, 0, 0);
}
.featured-product:hover
{
	background-color: #ffffff;
}
.carousel 
{
	display: flex;
}
img
{
	width: 100%;
	transition: 1s ease-out;
}
.navigation 
{
	width: 100%;
	position: relative;
	bottom: 17rem;
	display: flex;
	justify-content: space-between;
}
.button1
{
	max-width: 2rem;
	position: relative;
	padding-left: 2rem;
	padding-right: 2rem;
	transition: 1s;
	filter: drop-shadow(1px 1px 2px #222);
}
.button2
{
	max-width: 2rem;
	position: relative;
	padding-left: 2rem;
	padding-right: 2rem;
	transition: 1s;
	filter: drop-shadow(-1px 1px 2px #222);
}
.button1:hover
{
	cursor: pointer;
	max-width: 1rem;
}
.button2:hover
{
	cursor: pointer;
	max-width: 1rem;
}


/* -------Feedback Form------- */
.feedback-container
{
	width: 43rem;
	height: 38rem;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 2rem;
	border-radius: 2%;
	background-color: #ffd7ed;
	box-shadow: 0px 0px 0.5rem black;
	padding: 1.5rem;
}
.title-form
{
	padding: .5rem;
	text-align: center;
	text-shadow: 2px 1px #ff0080;
	color: black;
}
.feedback
{
	padding: .3rem;
	width: 42.4rem;
	height: 12.5rem;
	position: absolute;
	font-size: .9rem;
	border-style: solid;
	border-color: #000000;
	border-width: 0.1rem;
	border-radius: 0.3rem;
}
.feedback-title
{
	position: absolute;
}
.rate1
{
	margin-right: .5rem;
}
.rate
{
	margin-left: 1.9rem;
	margin-right: .25rem;
}
.text
{
	width: 20rem;
	height: 2rem;
	border-style: solid;
	border-color: #000000;
	border-width: 0.1rem;
	border-radius: 0.3rem;
}
.submit
{
	width: 15rem;
	padding: 0.625rem 1.875rem;
	cursor: pointer;
	display: block;
	align-self: center;
	margin-top: 14rem;
	margin-left: 13.5rem;
	background: linear-gradient(to right, #ffabf9a6, #ffba82a6);
	border: 0;
	outline: none;
	border-radius: 1.875rem;
	color: rgb(78, 0, 33);
	font-size: 1rem;
	text-align: center;
	position: absolute;
	transition: .75s ease-in-out;
}
.submit:hover
{
	background: linear-gradient(to right, #ff88f7, #ffad69);
	color: rgb(0, 0, 0);
}
td
{
	padding: 0.625rem 1.25rem 0 0;
}
input
{
	padding: .3rem;
	font-size: .9rem;
}
