*
{
	font-family: "Poppins",sans-serif;
	text-decoration: none;
	padding: 0%;
	margin: 0%;
}
::-webkit-scrollbar {
    display: none;
}
body
{
	display: flex;
	flex-direction: column;
}
/* -------Navigation Bar------- */
.container
{
	display: flex;
	width: 100%;
}
/* SIDEBAR */
.sidebar-container
{
	width: 350px;
	height: 100%;
	left: -350px;
	transition: .25s ease-in-out;
	display: flex;
	position: fixed;
	z-index: 10;
	flex-direction: column;
	background-color: #292929;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.navigation-container
{
	width: 100%;
	position: fixed;
	z-index: 990;
	background-color: #fd709367;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.navbar-margin
{
	width: 90%;
	margin: auto;
}
.navbar-margin .navbar-container>*
{
	width: 35%;
}
.navbar-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 1rem;
	padding-bottom: 1rem;
	
}/* MENU */
.menu
{
	cursor: pointer;
}
.line1
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line2
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line3
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.menu:hover .line1
{
	width: 25px;
	border-radius: 69px;
}
.menu:hover .line2
{
	width: 35px;
	border-radius: 69px;
}
.menu:hover .line3
{
	width: 15px;
	border-radius: 69px;
}/* -------Left Sidebar------- */
.left-sidebar-wrapper
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
}
.sidebar-wrapper
{
	display: flex;
	flex-direction: column;
	margin-top: 110px;
}sidebar-content-home
{
	display: flex;
	align-items: center;
	transition: .25s ease-in-out;
}
.sidebar-content-home:hover
{
	background-color: #f5abbeb2;
}
.sidebar-content-home:hover .sidebar-button
{
	color: #000000;
	font-weight: 900;
	
}
.sidebar-content-home:hover .sidebar-icon
{
	filter: none;
}.sidebar-icon
{
	width: 2rem;
	height: 2rem;
	filter: invert();
	margin-left: 2rem;
	transition: 1ms ease-in-out;
}
.sidebar-button
{
	color: white;
	padding: 1.5rem;
	margin-left: .5rem
}

/* -------Header------- */

.header-container
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.darken
{
	height: 1080px;
	width: 1920px;
	position: absolute;
	background-color: rgba(17, 17, 17, 0.308);
}.website-title
{
	position: absolute;
	margin-bottom: 30rem;
	animation: 1s ease-in-out 0s 1 slide;
}
@keyframes slide{
	0%
	{
		opacity: 0%;
		margin-bottom: 20rem;
	}
	100%
	{
		opacity: 100%;
		margin-bottom: 30rem;
	}
}
.title
{
	color: white;
	font-size: 3rem;
	font-weight: 900;
	font-stretch: ultra-condensed;
	text-shadow: 4px 2px #000000;
	text-justify: auto;
	padding-left: 5rem;
	padding-right: 5rem;
}/* -------Footer------- */
.footer-wrapper
{
	height: 100%;
	width: 100%;
	background-color:#000000;
}

.contacts-wrapper
{
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 8rem;
	color: rgb(255, 255, 255);
}
	.navigation 
{
	width: 100%;
	position: relative;
	bottom: 30rem;
	display: flex;
	justify-content: space-between;
}
.button1
{
	max-width: 3rem;
	position: relative;
	padding-left: 2rem;
	padding-right: 2rem;
	transition: 1s;
	filter: drop-shadow(1px 1px 2px #222);
}
.button2
{
	max-width: 3rem;
	position: relative;
	padding-left: 2rem;
	padding-right: 2rem;
	transition: 1s;
	filter: drop-shadow(-1px 1px 2px #222);
}
.button1:hover
{
	cursor: pointer;
	max-width: 2rem;
}
.button2:hover
{
	cursor: pointer;
	max-width: 2rem;
}
div.Clothing
{
	width: 384px;
	height: 385px;
	position: fixed;
	margin: 5px;
	border: 5px solid #ccc;
	
}
