*
{
	font-family: "Poppins",sans-serif;
	text-decoration: none;
	padding: 0%;
	margin: 0%;
}
::-webkit-scrollbar {
    display: none;
}
body {
	background-color: #303030;
}
/* Website Title */
.main-website-title
{
	color: rgb(255, 255, 255);
	font-size: 2rem;
	font-style: italic;
	text-shadow: 2px 1px #000000;
}
/* -------Navigation Bar------- */
.container
{
	display: flex;
	justify-content: center;
	width: 100%;
}
.navigation-container
{
	width: 100%;
	position: fixed;
	z-index: 990;
	background-color: #ff3c6d;
}

.navbar-margin
{
	width: 90%;
	margin: auto;
}
.navbar-margin .navbar-container>*
{
	width: 35%;
}
.navbar-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* MENU */
.menu
{
	cursor: pointer;
}
.line1
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line2
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line3
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.menu:hover .line1
{
	width: 25px;
	border-radius: 69px;
}
.menu:hover .line2
{
	width: 35px;
	border-radius: 69px;
}
.menu:hover .line3
{
	width: 15px;
	border-radius: 69px;
}
.menu:hover .sidebar-container
{
	left: 0;
}
/* SIDEBAR */
.sidebar-container
{
	width: 350px;
	height: 100%;
	left: -350px;
	top: 0px;
	transition: .45s ease-in-out;
	display: flex;
	position: fixed;
	z-index: -1;
	flex-direction: column;
	background-color: #292929;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.left-sidebar-wrapper
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
}
.sidebar-wrapper
{
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
}
.sidebar-content
{
	display: flex;
	align-items: center;
	transition: .25s ease-in-out;
}
.sidebar-content:hover
{
	background-color: #f5abbeb2;
}
.sidebar-content:hover .sidebar-button
{
	color: #000000;
	font-weight: 900;
	
}
.sidebar-content:hover .sidebar-icon
{
	filter: none;
}
.sidebar-icon
{
	width: 2rem;
	height: 2rem;
	filter: invert();
	margin-left: 2rem;
	transition: 1ms ease-in-out;
}
.sidebar-button
{
	color: white;
	padding: 1.5rem;
	margin-left: .8rem
}
/* LINKS */
.links
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.links-button
{
	color: white;
	display: inline-block;
	position: relative;
}
.links-button::after
{
	content: "";
    position: absolute;
	left: 0;
	bottom: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
	border-radius: 420px;
    transition: width .25s ease-out;
}
.links-button:hover::after
{
	width: 100%;
}
/* CART */
.cart
{
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}
.cart-icon
{
	width: 2rem;
	height: 2rem;
}
.cart-icon:hover
{
	filter: drop-shadow(0 0 2px white);
	animation: .50s cubic-bezier(1, -0.15, 0, 0.97) 0s 1 rotate;
}
@keyframes rotate{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
/* -------Breadcrumb------- */
.breadcrumb-container
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	margin-top: 5rem;
	padding: 10px;
	z-index: 40;
	background-color: #292929;
	box-shadow: 0px 0px 12px rgb(0, 0, 0);
}
.breadcrumb-list
{
	padding: 0;
}
.breadcrumb
{
	display: inline-block;
}
.breadcrumb:not(:last-of-type)::after
{
	content: '\203a';
	margin: 0 5px;
	color: #ffffff;
}
.breadcrumb-link
{
	text-decoration: none;
	color: #ffffff;
}
.breadcrumb-link:hover
{
	text-decoration: underline;
}
.breadcrumb-link--active
{
	color: #ff3c6d;
	font-weight: 900;
}
/*Product Links*/
.about-images
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.image1
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 4rem 0 0;
}
.about-images1
{
	width: 240px;
	height: 350px;
	border-radius: 10px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.397);
	cursor: pointer;
	transition: .25s ease-in-out;
}
.image1-description
{
	position: relative;
	color: white;
	text-shadow: 2px 1px 5px #000000;
	font-size: 2.3rem;
	font-weight: 900;
	text-align: center;
	bottom: 13rem;
	opacity: 0%;
	cursor: pointer;
	transition: .25s ease-in-out;
}
.image1:hover .about-images1
{
	filter: saturate(50%);
	height: 360px;
}
.image1:hover .image1-description
{
	opacity: 100%;
}
.image2
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-images2
{
	width: 240px;
	height: 350px;
	border-radius: 10px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.397);
	cursor: pointer;
	transition: .25s ease-in-out;
}
.image2-description
{
	position: relative;
	color: white;
	text-shadow: 2px 1px 5px #000000;
	font-size: 2.3rem;
	font-weight: 900;
	text-align: center;
	bottom: 13rem;
	opacity: 0%;
	cursor: pointer;
	transition: .25s ease-in-out;
}
.image2:hover .about-images2
{
	filter: saturate(50%);
	height: 360px;
}
.image2:hover .image2-description
{
	opacity: 100%;
}
.image3
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 0 4rem;
}
.about-images3
{
	width: 240px;
	height: 350px;
	border-radius: 10px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.397);
	cursor: pointer;
	transition: .25s ease-in-out;
}
.image3-description
{
	position: relative;
	color: white;
	text-shadow: 2px 1px 5px #000000;
	font-size: 2.3rem;
	font-weight: 900;
	text-align: center;
	bottom: 13rem;
	opacity: 0%;
	cursor: pointer;
	transition: .25s ease-in-out;
}
.image3:hover .about-images3
{
	filter: saturate(50%);
	height: 360px;
}
.image3:hover .image3-description
{
	opacity: 100%;
}
/* -------Products------- */
.product-main-wrapper
{
	margin-left: 20rem;
	margin-right: 20rem;
	background-color: #ffd1dc;
	position: relative;
	bottom: 1rem;
	border-radius: 2rem;
	box-shadow: 0px 0px 1rem rgb(0, 0, 0);
}
.content-wrapper
{
	display: grid;
	justify-items: center;
	flex-direction: column;
	backdrop-filter: blur(5%);
	margin-bottom: 5rem;
}
.content-wrapper1
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content-wrapper2
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content-wrapper3
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product-wrapper
{
	display: grid;
	justify-items: center;	
}
.product-category
{
	display: flex;
	flex-direction: column;
}
.heading {
	font-size: 5rem;
	text-align: center;
	color: white;
	text-shadow: 5px 5px #ff678d;
}
.heading1 {
	font-size: 5rem;
	text-align: center;
	color: white;
	text-shadow: 5px 5px #ff678d;
	background-color: #ffd1dc;
	box-shadow: 0px 0px 8px rgb(0, 0, 0);
	padding-top: 8rem;
}
.heading2 {
	color: rgb(255, 255, 255);
	text-shadow: 2.5px 2.5px #ff678d;
    font-weight: 900;
    font-size: 3rem;
	padding: 2rem;
	text-align: center;
}
.heading3 {
	font-size: 3rem;
	text-align: center;
	color: white;
	text-shadow: 5px 5px #ff678d;
	margin-bottom: 3rem;
}
/*Products List*/
figure{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem;
	border-radius: 0.5rem;
	background-color: #ffbdce;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.767);
	transition: .35s ease-in-out;
}
figure:hover 
{
	box-shadow: 0px 0px 15px #ff5681;
}
.img-background
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
.product-img
{
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 17rem;
	height: 13rem;
	filter: drop-shadow(0px 0px 2px #000000);
}
.title
{
	font-size: 1rem;
	text-align: center;
	margin-top: 1rem;
	color: black;
	font-weight: bold;
}
.desc
{
	font-size: 1rem;
	margin-top: 1rem;
	color: black;
}
.button {
	background-color: #080708;
	border: none;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.767);
	position: relative;
	top: 2rem;
	width: 8rem;
	height: 3.5rem;
	font-size: 1rem;
	background-color: #ff81a1;
	color: white;
	cursor: pointer;
	transition: .25s ease-in-out;
}
.button:hover {
	background-color: #ff3568;
}
.figurine1
{
	grid-column: 1;
	grid-row: 1;
}
.figurine2
{
	grid-column: 2;
	grid-row: 1;
}
.figurine3
{
	grid-column: 3;
	grid-row: 1;
}
.figurine4
{
	grid-column: 1;
	grid-row: 2;
}
.figurine5
{
	grid-column: 2;
	grid-row: 2;
}
.figurine6
{
	grid-column: 3;
	grid-row: 2;
}

.clothing1
{
	grid-column: 1;
	grid-row: 1;
}
.clothing2
{
	grid-column: 2;
	grid-row: 1;
}
.clothing3
{
	grid-column: 3;
	grid-row: 1;
}
.clothing4
{
	grid-column: 1;
	grid-row: 2;
}
.clothing5
{
	grid-column: 2;
	grid-row: 2;
}
.clothing6
{
	grid-column: 3;
	grid-row: 2;
}

.body-pillow1
{
	grid-column: 1;
	grid-row: 1;
}
.body-pillow2
{
	grid-column: 2;
	grid-row: 1;
}
.body-pillow3
{
	grid-column: 3;
	grid-row: 1;
}
.body-pillow4
{
	grid-column: 1;
	grid-row: 2;
}
.body-pillow5
{
	grid-column: 2;
	grid-row: 2;
}
.body-pillow6
{
	grid-column: 3;
	grid-row: 2;
}
.table-wrapper
{
	padding: 5rem;
}
table {
	font-family: sans-serif;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	font-size: 1rem;
}
#table td, #table th {
	border: 1px solid #ff4372;
	padding: 8px;
}

#table tr:nth-child(even){ 
	background-color: #ffb2c4;
	font-style: italic;
}
#table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #ff698f;
	color: white;
	font-family: sans-serif;
}

/* -------Footer------- */
.footer-wrapper
{
	height: 100%;
	width: 100%;
	margin-top: 10rem;
	background-color:#000000;
}

.contacts-wrapper
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 1rem;
	color: rgb(255, 255, 255);
}
.footer-content
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title-footer
{
	color: rgb(255, 255, 255);
	font-size: 2rem;
	font-style: oblique;
	font-weight: 900;
	text-shadow: 2px 1px #ff0080;
	padding: 2rem;
}
.gmail
{
	text-decoration: underline;
	font-style: oblique;
	cursor: pointer;
}
.copyright
{
	padding: 2rem;
}
.social-media-link
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.social-media1
{
	width: 3rem;
	height: 3rem;
	filter: invert();
	padding: 2rem;
	cursor: pointer;
	transition: .25s ease-in-out;
}
.social-media2
{
	width: 3rem;
	height: 3rem;
	filter: invert();
	padding: 2rem;
	cursor: pointer;
	transition: .25s ease-in-out;
}
.social-media3
{
	width: 3rem;
	height: 3rem;
	filter: invert();
	padding: 2rem;
	cursor: pointer;
	transition: .25s ease-in-out;
}
.social-media1:hover
{
	width: 3.5rem;
	height: 3.5rem;
}
.social-media2:hover
{
	width: 3.5rem;
	height: 3.5rem;
}
.social-media3:hover
{
	width: 3.5rem;
	height: 3.5rem;
}
.category1
{
	grid-column: 1;
	grid-row: 1;
	margin: 2rem;
	padding: 30px;
	border-radius: 1rem;
	background-color: #ffbdce;
	box-shadow: 0px 0px 5px black;
	transition: .50s ease-in-out;
}
.category2
{
	grid-column: 2;
	grid-row: 1;
	margin: 2rem;
	padding: 30px;
	border-radius: 1rem;
	background-color: #ffbdce;
	box-shadow: 0px 0px 5px black;
	transition: .50s ease-in-out;
}
.category3
{
	grid-column: 3;
	grid-row: 1;
	margin: 2rem;
	padding: 30px;
	border-radius: 1rem;
	background-color: #ffbdce;
	box-shadow: 0px 0px 5px black;
	transition: .50s ease-in-out;
}

.category4
{
	grid-column: 4;
	grid-row: 1;
	margin: 2rem;
	padding: 30px;
	border-radius: 1rem;
	background-color: #ffbdce;
	box-shadow: 0px 0px 5px black;
	transition: .50s ease-in-out;
}

.category-img
{
	width: 100%;
	transition: .50s ease-in-out;
}

.desc1
{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	transition: .50s ease-in-out;
}

.category1:hover
{
	cursor: pointer;
	background-color: #ffffff;
}
.category1:hover .desc1
{
	color: #000000;
}

.category2:hover
{
	cursor: pointer;
	background-color: #ffffff;
}
.category2:hover .desc1
{
	color: #000000;
}

.category3:hover
{
	cursor: pointer;
	background-color: #ffffff;
}
.category3:hover .desc1
{
	color: #000000;
}

.category4:hover
{
	cursor: pointer;
	background-color: #ffffff;
}
.category4:hover .desc1
{
	color: #000000;
}

.category1:hover .category-img
{
	filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}
.category2:hover .category-img
{
	filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}
.category3:hover .category-img
{
	filter: drop-shadow(0px 0px 5px black);
}
.category4:hover .category-img
{
	filter: drop-shadow(0px 0px 5px black);
}

.view-products
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ff6387;
	border-radius: 0.3rem;
	width: 9rem;
	height: 4rem;
	margin-top: 3rem;
	margin-bottom: 5rem;
	transition: .25s ease-in-out;
}
.view-text
{
	color: white;
}
.view-products:hover
{
	background-color: #ff638783;
}
.view-products:hover .view-text
{
	color: #ffe2e9;
}