*
{
	font-family: "Poppins",sans-serif;
	text-decoration: none;
	padding: 0%;
	margin: 0%;
}
::-webkit-scrollbar {
    display: none;
}

/* -------Navigation Bar------- */
.container
{
	display: flex;
	width: 100%;
}
/* SIDEBAR */
.sidebar-container
{
	width: 350px;
	height: 100%;
	left: -350px;
	transition: .25s ease-in-out;
	display: flex;
	position: fixed;
	z-index: 10;
	flex-direction: column;
	background-color: #292929;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.navigation-container
{
	width: 100%;
	position: fixed;
	z-index: 990;
	background-color: #fd7094;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.navbar-margin
{
	width: 90%;
	margin: auto;
}
.navbar-margin .navbar-container>*
{
	width: 35%;
}
.navbar-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
/* MENU */
.menu
{
	cursor: pointer;
}
.line1
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line2
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line3
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.menu:hover .line1
{
	width: 25px;
	border-radius: 69px;
}
.menu:hover .line2
{
	width: 35px;
	border-radius: 69px;
}
.menu:hover .line3
{
	width: 15px;
	border-radius: 69px;
}

/* LINKS */
.links
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.links-button
{
	color: white;
	display: inline-block;
	position: relative;
	font-weight: lighter;
}

.links-button::after
{
	content: "";
    position: absolute;
	left: 0;
	bottom: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
	border-radius: 420px;
    transition: width .25s ease-out;
}
.links-button:hover::after
{
	width: 100%;
}
/* CART */
.cart
{
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}
.cart-icon
{
	width: 2rem;
	height: 2rem;
}
.cart-icon:hover
{
	filter: drop-shadow(0 0 10px white);
}

/* Website Title */
.main-website-title
{
	color: rgb(255, 255, 255);
	font-size: 2rem;
	font-style: oblique;
	text-shadow: 2px 1px #000000;
}
/* -------Left Sidebar------- */
.left-sidebar-wrapper
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
}
.sidebar-wrapper
{
	display: flex;
	flex-direction: column;
	margin-top: 110px;
}
.sidebar-content-home
{
	display: flex;
	align-items: center;
	transition: .25s ease-in-out;
}
.sidebar-content-home:hover
{
	background-color: #f5abbeb2;
}
.sidebar-content-home:hover .sidebar-button
{
	color: #000000;
	font-weight: 900;
	
}
.sidebar-content-home:hover .sidebar-icon
{
	filter: none;
}
.sidebar-content-about
{
	display: flex;
	align-items: center;
	transition: .25s ease-in-out;
}
.sidebar-content-about:hover
{
	background-color: #f5abbeb2;
}
.sidebar-content-about:hover .sidebar-button
{
	color: #000000;
	font-weight: 900;
	
}
.sidebar-content-about:hover .sidebar-icon
{
	filter: none;
}
.sidebar-content-services
{
	display: flex;
	align-items: center;
	transition: .25s ease-in-out;
}
.sidebar-content-services:hover
{
	background-color: #f5abbeb2;
}
.sidebar-content-services:hover .sidebar-button
{
	color: #000000;
	font-weight: 900;
	
}
.sidebar-content-services:hover .sidebar-icon
{
	filter: none;
}
.sidebar-content-contacts
{
	display: flex;
	align-items: center;
	transition: .25s ease-in-out;
}
.sidebar-content-contacts:hover
{
	background-color: #f5abbeb2;
}
.sidebar-content-contacts:hover .sidebar-button
{
	color: #000000;
	font-weight: 900;
	
}
.sidebar-content-contacts:hover .sidebar-icon
{
	filter: none;
}
.sidebar-content-product
{
	display: flex;
	align-items: center;
	transition: .25s ease-in-out;
}
.sidebar-content-product:hover
{
	background-color: #f5abbeb2;
}
.sidebar-content-product:hover .sidebar-button
{
	color: #000000;
	font-weight: 900;
	
}
.sidebar-content-product:hover .sidebar-icon
{
	filter: none;
}
.sidebar-content-login
{
	display: flex;
	align-items: center;
	transition: .25s ease-in-out;
}
.sidebar-content-login:hover
{
	background-color: #f5abbeb2;
	
}
.sidebar-content-login:hover .sidebar-button
{
	color: #000000;
	font-weight: 900;
	
}
.sidebar-content-login:hover .sidebar-icon
{
	filter: none;
}
.sidebar-icon
{
	width: 2rem;
	height: 2rem;
	filter: invert();
	margin-left: 2rem;
	transition: 1ms ease-in-out;
}
.sidebar-button
{
	color: white;
	padding: 1.5rem;
	margin-left: .5rem
}
/* -------Login------- */
.login
{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/background.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form-box
{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 8% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
	border-radius: 30px;
}
.button-box
{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-button
{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	
}
#login-button
{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #ffabf9, #ffba82);
	border-radius: 30px;
	transition: .5s;
}
.social-icons
{
	margin: 30px auto;
	text-align: center;
}
.social-icons img
{
	width: 30px;
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor: pointer;
	border-radius: 50%;
}
.input-form
{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-area
{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-button
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 15px 0 0 28px;
	background: linear-gradient(to right, #ffabf9, #ffba82);
	border: 0;
	outline: none;
	border-radius: 30px;
}
.reset-password
{
	padding: 5x 0;
	font-size: 12px;
	cursor: pointer;
}
.check-box
{
	margin-top: 12px;
	margin-bottom: 5px;
}
.check-boxstyle
{
	color: #777;
	font-size: 14px;
}
#login
{
	left: 50px;
}
#register
{
	left: 450px;
}

/* -------Footer------- */
.contact-wrapper
{
	position: absolute;
	text-align: center;
	height: 15px;
	width: 100%;
	bottom: 0;
	left: 0;
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #fd7094;
}