*
{
	font-family: "Poppins",sans-serif;
	text-decoration: none;
	padding: 0%;
	margin: 0%;
}
::-webkit-scrollbar {
    display: none;
}

/* -------Navigation Bar------- */
.container
{
	display: flex;
	width: 100%;
}
/* SIDEBAR */
.sidebar-container
{
	width: 350px;
	height: 100%;
	left: -350px;
	transition: .25s ease-in-out;
	display: flex;
	position: fixed;
	z-index: 10;
	flex-direction: column;
	background-color: #292929;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.navigation-container
{
	width: 100%;
	position: fixed;
	z-index: 990;
	background-color: #fd7094;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.navbar-margin
{
	width: 90%;
	margin: auto;
}
.navbar-margin .navbar-container>*
{
	width: 35%;
}
.navbar-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
/* MENU */
.menu
{
	cursor: pointer;
}
.line1
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line2
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line3
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.menu:hover .line1
{
	width: 25px;
	border-radius: 69px;
}
.menu:hover .line2
{
	width: 35px;
	border-radius: 69px;
}
.menu:hover .line3
{
	width: 15px;
	border-radius: 69px;
}

/* LINKS */
.links
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.links-button
{
	color: white;
	display: inline-block;
	position: relative;
	font-weight: lighter;
}

.links-button::after
{
	content: "";
    position: absolute;
	left: 0;
	bottom: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
	border-radius: 420px;
    transition: width .25s ease-out;
}
.links-button:hover::after
{
	width: 100%;
}
/* CART */
.cart
{
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}
.cart-icon
{
	width: 2rem;
	height: 2rem;
}
.cart-icon:hover
{
	filter: drop-shadow(0 0 10px white);
}

/* Website Title */
.main-website-title
{
	color: white;
	font-size: 2rem;
	font-style: oblique;
}
/* -------Left Sidebar------- */
.left-sidebar-wrapper
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
}
.sidebar-wrapper
{
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}
.sidebar-content-wrapper
{
	display: flex;
	align-items: center;
}
.sidebar-icon
{
	width: 2rem;
	height: 2rem;
	filter: invert();
	margin-left: 3rem;
}
.sidebar-button
{
	color: white;
	padding: 1.5rem;
	margin-left: 1rem
}
/* -------Login------- */
.login
{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/background.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form-box
{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 8% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
	border-radius: 30px;
}
.input-form
{
	top: 70px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-area1
{
	width: 90%;
	padding: 10px 0;
	margin: 5px 0 0 35px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.input-area
{
	width: 90%;
	padding: 10px 0;
	margin: 5px 0 0 35px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-button
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 10px 60px;
	background: linear-gradient(to right, #ffabf9, #ffba82);
	border: 0;
	outline: none;
	border-radius: 30px;
}
.head-info
{
	text-align: center;
	margin-left: 80px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 22px;
}
.check-box
{
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: 35px;
}
.check-boxstyle
{
	color: #777;
	font-size: 14px;
}

/* -------Footer------- */
.contact-wrapper
{
	position: absolute;
	text-align: center;
	height: 15px;
	width: 100%;
	bottom: 0;
	left: 0;
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #fd7094;
}