*
{
	font-family: "Poppins",sans-serif;
	text-decoration: none;
	padding: 0%;
	margin: 0%;
}
html {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
body
{
	display: flex;
	flex-direction: column;
}
.main-wrapper
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
/* Website Title */
.main-website-title
{
	color: rgb(255, 255, 255);
	font-size: 2rem;
	font-style: italic;
	text-shadow: 2px 1px #000000;
}
/* -------Navigation Bar------- */
.container
{
	display: flex;
	justify-content: center;
	width: 100%;
}
.navigation-container
{
	width: 100%;
	position: fixed;
	z-index: 990;
	background-color: #ff3c6d;
}

.navbar-margin
{
	width: 90%;
	margin: auto;
}
.navbar-margin .navbar-container>*
{
	width: 35%;
}
.navbar-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* MENU */
.menu
{
	cursor: pointer;
}
.line1
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line2
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.line3
{
	width: 40px;
	height: 2px;
	background-color: white;
	border-radius: 69px;
	margin: 5px;
	transition: width .25s ease-out;
}
.menu:hover .line1
{
	width: 25px;
	border-radius: 69px;
}
.menu:hover .line2
{
	width: 35px;
	border-radius: 69px;
}
.menu:hover .line3
{
	width: 15px;
	border-radius: 69px;
}
.menu:hover .sidebar-container
{
	left: 0;
}
/* SIDEBAR */
.sidebar-container
{
	width: 350px;
	height: 100%;
	left: -350px;
	top: 0px;
	transition: .45s ease-in-out;
	display: flex;
	position: fixed;
	z-index: -1;
	flex-direction: column;
	background-color: #292929;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.left-sidebar-wrapper
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
}
.sidebar-wrapper
{
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
}
.sidebar-content
{
	display: flex;
	align-items: center;
	transition: .25s ease-in-out;
}
.sidebar-content:hover
{
	background-color: #f5abbeb2;
}
.sidebar-content:hover .sidebar-button
{
	color: #000000;
	font-weight: 900;
	
}
.sidebar-content:hover .sidebar-icon
{
	filter: none;
}
.sidebar-icon
{
	width: 2rem;
	height: 2rem;
	filter: invert();
	margin-left: 2rem;
	transition: 1ms ease-in-out;
}
.sidebar-button
{
	color: white;
	padding: 1.5rem;
	margin-left: .8rem
}
/* LINKS */
.links
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.links-button
{
	color: white;
	display: inline-block;
	position: relative;
}
.links-button::after
{
	content: "";
    position: absolute;
	left: 0;
	bottom: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
	border-radius: 420px;
    transition: width .25s ease-out;
}
.links-button:hover::after
{
	width: 100%;
}
/* CART */
.register
{
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}
.register-button
{
	color: white;
	display: inline-block;
	position: relative;
	font-weight: normal;
	padding-top: .4rem;
	padding-bottom: .4rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	transition: .25s ease-in-out;
}
.register-button:hover
{
	background-color: #d61c4b;
}
/* -------Breadcrumb------- */
.breadcrumb-container
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	margin-top: 5rem;
	padding: 10px;
	z-index: 40;
	background-color: #292929;
	box-shadow: 0px 0px 12px rgb(0, 0, 0);
}
.breadcrumb-list
{
	padding: 0;
}
.breadcrumb
{
	display: inline-block;
}
.breadcrumb:not(:last-of-type)::after
{
	content: '\203a';
	margin: 0 5px;
	color: #ffffff;
}
.breadcrumb-link
{
	text-decoration: none;
	color: #ffffff;
}
.breadcrumb-link:hover
{
	text-decoration: underline;
}
.breadcrumb-link--active
{
	color: #ff3c6d;
    font-weight: 900;
}
/* Services */
.services-wrapper
{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
    background: url(../../images/sakura-background.png);
}
.services-margin
{
	margin-right: 15rem;
	margin-left: 15rem;
}
.services
{
	margin-top: 10rem;
	margin-bottom: 7rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services-title
{
	color: black;
	font-weight: 900;
	font-size: 5rem;
	margin-bottom: 3rem;
}
.services-paragraph
{
	font-size: larger;
	color: black;
	line-height: 2rem;
	text-align: justify;
}
.cards-fluid .cards>*
{
	width: 23%;
}
.cards
{
	margin-bottom: 10rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.card1
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
	border-radius: 15px;
	background-color: rgb(77, 6, 47);
	transition: .50s ease-in-out;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.397);
}
.card1-title
{
	margin: 0%;
	color: rgb(255, 255, 255);
	font-weight: 900;
	font-size: 2rem;
	margin-bottom: 2rem;
}
.card1-paragraph
{
	margin: 0%;
	font-size: larger;
	color: rgb(255, 255, 255);
	line-height: 2rem;
	text-align: justify;
}
.card2
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
	border-radius: 15px;
	background-color: rgb(77, 6, 47);
	transition: .50s ease-in-out;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.397);
}
.card2-title
{
	margin: 0%;
	color: rgb(255, 255, 255);
	font-weight: 900;
	font-size: 2rem;
	margin-bottom: 2rem;
}
.card2-paragraph
{
	margin: 0%;
	font-size: larger;
	color: rgb(255, 255, 255);
	line-height: 2rem;
	text-align: justify;
}
.card3
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
	border-radius: 15px;
	background-color: rgb(77, 6, 47);
	transition: .50s ease-in-out;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.397);
}
.card3-title
{
	margin: 0%;
	color: rgb(255, 255, 255);
	font-weight: 900;
	font-size: 2rem;
	margin-bottom: 2rem;
}
.card3-paragraph
{
	margin: 0%;
	font-size: larger;
	color: rgb(255, 255, 255);
	line-height: 2rem;
	text-align: justify;
}
/* -------Footer------- */
.footer-wrapper
{
	height: 100%;
	width: 100%;
	background-color:#000000;
}
.contacts-wrapper
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 1rem;
	color: rgb(255, 255, 255);
}
.footer-content
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title-footer
{
	color: rgb(255, 255, 255);
	font-size: 2rem;
	font-style: oblique;
	font-weight: 900;
	text-shadow: 2px 1px #ff0080;
	padding: 2rem;
}
.gmail
{
	text-decoration: underline;
	font-style: oblique;
	cursor: pointer;
}
.copyright
{
	padding: 2rem;
}
.social-media-link
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.social-media1
{
	width: 3rem;
	height: 3rem;
	filter: invert();
	padding: 2rem;
	cursor: pointer;
	transition: .25s ease-in-out;
}
.social-media2
{
	width: 3rem;
	height: 3rem;
	filter: invert();
	padding: 2rem;
	cursor: pointer;
	transition: .25s ease-in-out;
}
.social-media3
{
	width: 3rem;
	height: 3rem;
	filter: invert();
	padding: 2rem;
	cursor: pointer;
	transition: .25s ease-in-out;
}
.social-media1:hover
{
	width: 3.5rem;
	height: 3.5rem;
}
.social-media2:hover
{
	width: 3.5rem;
	height: 3.5rem;
}
.social-media3:hover
{
	width: 3.5rem;
	height: 3.5rem;
}